
<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 mt-md-0 mt-3">

        <!-- Content -->
        <small><p>This website is served over HTTPS for security. The site uses Google Analytics and GA places cookies on your browser. I can see the reports generated in GA and Google can also see the data. Google's <a href="http://www.google.ca/intl/en/policies/" target="_blank">privacy policy</a> applies.</p></small>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>

  <!-- Copyright -->
  <small><div class="footer-copyright text-center py-3">© 2020 Copyright: joshsomma.com</div></small>
  <!-- Copyright -->

</footer>
<!-- Footer -->

