<hr class="m-0">

<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-3">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
        <div class="resume-content">
            <h3 class="mb-0">Technical Director</h3>
            <div class="subheading mb-2">Squiz UK - London</div>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">2014 - 2020</span>
        </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
        <div class="resume-content">
            <h3 class="mb-0">Head of Production</h3>
            <div class="subheading mb-2">Hearst Magazines UK - London</div>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">2011 - 2013</span>
        </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-2">
        <div class="resume-content">
            <h3 class="mb-0">Senior Producer </h3>
            <div class="subheading mb-2">Hearst Digital Media - NYC</div>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">2007 - 2011</span>
        </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
            <h3 class="mb-0">Producer</h3>
            <div class="subheading mb-2">R/GA - NYC</div>
        </div>
        <div class="resume-date text-md-right">
            <span class="text-primary">2005 - 2006</span>
        </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
            <h3 class="mb-0">Senior Producer</h3>
            <div class="subheading mb-1">Fortune Magazine, Time Inc. - NYC</div>
            </div>
            <div class="resume-date text-md-right">
            <span class="text-primary">2000 - 2005</span>
            </div>
        </div>

    </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="speaking">
    <div class="w-100">
        <h2 class="mb-3">Speaking</h2>

        <h3 class="mb-0">Beyond Search: How to Realise the Value of Your Data</h3>
        <div class="subheading mb-2">IWMW 2019</div>

        <h3 class="mb-0">How digital platforms are stacking up for web 3.0</h3>
        <div class="subheading mb-2">Digital Transformation Scotland 2019</div>

        <h3 class="mb-0"><a href="https://vimeo.com/299241227" target="_new">Introducing Funnelback Knowledge Graph</a></h3>
        <div class="subheading mb-2">Squiz Summit London 2018</div>

        <h3 class="mb-0"><a href="https://vimeo.com/239797990" target="_new">How to Actually Start Using AI</a></h3>
        <div class="subheading mb-2">Squiz Summit London 2017</div>

    </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="writing">
        <div class="w-100">
        <h2 class="mb-3">Writing</h2>

        <h3 class="mb-0"><a href="https://www.squiz.net/resources/blog/accessibility-deadlines-loom-for-public-sector-and-higher-education" target="_new">Accessibility deadlines loom for public sector and higher education</a></h3>
        <div class="subheading mb-2">May 2019</div>

        <h3 class="mb-0"><a href="https://www.squiz.net/resources/blog/why-data-is-so-important-when-it-comes-to-ai">The importance of data for AI</a></h3>
        <div class="subheading mb-2">November 2017</div>

        <h3 class="mb-0"><a href="https://www.squiz.net/resources/blog/blockchain-the-technology-of-trust" target="_new">Blockchain: the technology of trust</a></h3>
        <div class="subheading mb-2">August 2017</div>

        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="education">
        <div class="w-100">
            <h2 class="mb-3">Education</h2>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
            <div class="resume-content">
                <h3 class="mb-0">University of Montana</h3>
                <div class="subheading mb-3">Bachelor of Arts in English Literature</div>
            </div>
            </div>

            <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">General Assembly</h3>
                <div class="subheading mb-3">Product Management (2017)</div>
            </div>
            </div>

            </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="interests">
        <div class="w-100">
            <h2 class="mb-3">Interests</h2>
            <p>Latest enthusiasms include allotment gardening, learning and playing ukulele, <a href="https://www.reddit.com/r/AutoChess/" target="_blank">Auto Chess</a> and volunteering as a <a href="https://codeclub.org/en/" target="_new">Code Club</a> facilitator at a local primary school.</p>
        </div>
    </section>
